attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
desert==2020.11.18
flatbuffers==25.12.19
flexcache==0.3
flexparser==0.4
idna==3.18
marshmallow==4.3.0
mypy_extensions==1.1.0
numpy==2.4.6
obd==0.7.3
onnxruntime==1.27.0
packaging==26.2
pathvalidate==3.3.1
pillow==12.2.0
Pint==0.24.4
piper-tts==1.4.2
platformdirs==4.10.0
protobuf==7.35.1
pygame==2.6.1
pyserial==3.5
requests==2.34.2
typing-inspect==0.9.0
typing_extensions==4.15.0
urllib3==2.7.0
vpic-api==0.7.4
